<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Expired Reminder</title>
</head>
<body>
    <div class="container">
        <h1>Password Expired Reminder</h1>
        <p>Your password is older
			 than 3 months. It's important to keep your account secure by updating your password regularly.</p>
        <p>Click the button below to update your password now:</p>
        <a href="http://localhost:8181/users/updatePasswordPage" class="cta-button">Update Password</a>
    </div>
</body>
</html>
